.Content {
	padding: 0 20px;
}

.Title {
	font-size: 30px;
	padding: 10px;
	padding-top: 0;
	padding-right: 0;
	font-weight: bolder;
}

.SubTitle {
	font-size: 22px;
	padding: 10px;
}

.Para,
.List {
	font-size: 18px;
	font-weight: lighter;
	opacity: 0.95;
	padding: 10px;
	text-align: justify;
	letter-spacing: 1.2px;
	line-height: 28px;
}

.List {
	text-indent: 30px;
	padding: 5px;
	line-height: 22px;
}

.SpecialText {
	color: blue;
}

.Image,
.LenImage,
.CmdImage {
	width: 90%;
	max-width: 400px;
	margin-left: 5px;
}

.LenImage,
.CmdImage {
	width: 100%;
	max-width: 800px;
}

.CmdImage {
	max-width: 500px;
}

.ImageBorder {
	border: 1px solid black;
	border-radius: 5px;
}

.Code {
	display: block;
	font-size: 16px;
	padding: 15px 25px;
	margin: 10px;
	background: rgba(0, 0, 0, 0.15);
}

@media (max-width: 450px) {
	.Title {
		font-size: 24px;
	}
	.SubTitle {
		font-size: 20px;
	}
	.Para {
		font-size: 17px;
	}
}
