.Content {
	padding: 0 20px;
}

.Title {
	font-size: 30px;
	padding: 10px;
	padding-top: 0;
	padding-right: 0;
	font-weight: bolder;
}

.Para {
	font-size: 18px;
	font-weight: lighter;
	opacity: 0.95;
	padding: 10px;
	text-align: justify;
	letter-spacing: 1.2px;
	line-height: 28px;
}

.Image {
	width: 90%;
	max-width: 400px;
	margin-left: 5px;
}

.ImageBorder {
	border: 1px solid black;
	border-radius: 5px;
}
@media (max-width: 450px) {
	.Title {
		font-size: 24px;
	}
	.Para {
		font-size: 17px;
	}
}
